.myStyle-main-content {
	background-color: #E0F2F1 !important;
}

.dashboard-ng-view-container {
	padding: 5% 5% 5% 5%;
}

.dashboard-card {
	margin: 30px 15%;
	width: 70%;
}

.demo-layout .mdl-layout__header {
	color: white !important;
	background-color: #00BCD4 !important;
}

.myStyle-smallCard {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 16px;
	font-weight: 400;
	min-height: 50px;
	overflow: hidden;
	width: 70%;
	z-index: 1;
	position: relative;
	background: #fff;
	box-sizing: border-box;
	margin: 5px 15%;
}

.myStyle-smallCard .dashboard-ng-view-container {
	padding: 2% 2% 2% 2%;
}

.floor-div {
	width: 100%;
}

.myStyle-squareCard {
	width: 200px;
    margin: 0.6% 0.8%;
	float: left;
	height: 60px;
}

.card-count-balloon {
    position: absolute;
    right: -1%;
    top: 12%;
}

.myStyle-squareCard.title {
	width: 70px;
    line-height: 60px;
    font-size: large;
}

.myStyle-squareCard  .card-title {
	text-align: center;
	padding: 2% 2%;
	background-color: lightgray;
	height: 8px;
}

.myStyle-squareCard  .card-title.clean {
	background-color: #8BC34A;
}

.myStyle-squareCard  .card-title.warning {
	background-color: #FFC107;
}

.myStyle-squareCard  .card-title.dirty {
	background-color: #F44336;
}

.myStyle-squareCard  .card-content {
	margin: 5% 5%;
}

.myStyle-squareCard  .card-action {
	float: left;
	background-color: salmon;
	color: black;
	margin: 3%;
	padding: 12%;
	position: absolute;
	top: 35%;
	left: 15%;
	opacity: 0.8;
    box-shadow: 0px 0px 47px #FF4000;
	display: none;
}

.myStyle-squareCard  .card-count {
	font-size: x-large;
	padding: 4%;
    margin: 0% 0% 7% 0%;
	color: #222;
	text-align: center;
    box-shadow: 0px 3px 0px #888888;
    /*border-radius: 100%;*/
}

.myStyle-squareCard  .card-gender {
	float: left;
}

.myStyle-squareCard  .card-gender-img {
	height: 25px;
	width: 25px;
}

.myStyle-squareCard  .card-name {
	float: left;
	font-style: italic;
    margin: 0% 4% 0% 0%;
}

.myStyle-squareCard  .card-floor {
	float: left;
    margin: 0% 4% 0% 0%;
	display: none;
}

.myStyle-squareCard  .card-alertTimeLabel {
    float: right;
    height: 12px;
	color: #999;
    font-size: 10.5px;
}

.myStyle-squareCard  .card-alertTime {
    float: right;
	color: #777;
	font-size: small;
}

.alert-card {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes blinker {
	0% { background-color: yellow; }
	50% { background-color: red; }
	100% { background-color: yellow; }
}