.dashboard-ng-view-container {
	padding: 5% 5% 5% 5%;
}

.dashboard-card {
	margin: 30px 15%;
	width: 70%;
}

.demo-layout .mdl-layout__header {
	color: white !important;
	background-color: #3F51B6 !important;
}

.myStyle-smallCard {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 16px;
	font-weight: 400;
	min-height: 50px;
	overflow: hidden;
	width: 70%;
	z-index: 1;
	position: relative;
	background: #fff;
	border-radius: 2px;
	box-sizing: border-box;
	margin: 5px 15%;
	border-radius: 15px;
}

.myStyle-smallCard .dashboard-ng-view-container {
	padding: 2% 2% 2% 2%;
}

.floor-div {
	width: 100%;
}

.myStyle-squareCard {
	width: 115px;
	margin: 1% 0.8%;
	float: left;
}

.myStyle-squareCard  .card-title {
	text-align: center;
	padding: 2% 2%;
	border-radius: 15px 15px 0px 0px;
	background-color: lightgray;
}

.myStyle-squareCard  .card-title.clean {
	background-color: lime;
}

.myStyle-squareCard  .card-title.warning {
	background-color: orange;
}

.myStyle-squareCard  .card-title.dirty {
	background-color: red;
}

.myStyle-squareCard  .card-content {
	margin: 5% 5%;
}

.myStyle-squareCard  .card-action {
	float: left;
	background-color: salmon;
	color: black;
	border-radius: 15px;
	margin: 3%;
	padding: 12%;
	position: absolute;
	top: 35%;
	left: 15%;
	opacity: 0.8;
    box-shadow: 0px 0px 47px #FF4000;
	display: none;
}

.myStyle-squareCard  .card-count {
	font-size: x-large;
	padding: 4%;
    margin: 0% 0% 7% 0%;
	color: #222;
	text-align: center;
    box-shadow: 0px 3px 0px #888888;
    /*border-radius: 100%;*/
}

.myStyle-squareCard  .card-gender {
	float: left;
}

.myStyle-squareCard  .card-floor {
	float: right;
    font-size: small;
	font-style: italic;
    margin: 0% 0% 4% 0%;
}

.myStyle-squareCard  .card-alertTime {
    float: right;
    margin: 0% 0% 4% 0%;
}

.alert-card {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 3s;
}

@-webkit-keyframes blinker {
	0% { background-color: yellow; }
	50% { background-color: #FFFF66; }
	100% { background-color: yellow; }
}