.dashboard-ng-view-container {
	padding: 5% 5% 5% 5%;
}

.dashboard-card {
	margin: 30px 15%;
	width: 70%;
}

.demo-layout .mdl-layout__header {
	color: white !important;
	background-color: #3F51B6 !important;
}

.myStyle-smallCard {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 16px;
	font-weight: 400;
	min-height: 50px;
	overflow: hidden;
	width: 70%;
	z-index: 1;
	position: relative;
	background: #fff;
	border-radius: 2px;
	box-sizing: border-box;
	margin: 5px 15%;
	border-radius: 15px;
}

.myStyle-smallCard .dashboard-ng-view-container {
	padding: 2% 2% 2% 2%;
}

.myStyle-squareCard {
	width: inherit;
	margin: 1% 0.8%;
}

.myStyle-squareCard  .card-title {
	text-align: center;
	padding: 2% 2%;
	border-radius: 15px 15px 5px 5px;
}

.myStyle-squareCard  .card-title.clean {
	background-color: green;
	color: white;
}

.myStyle-squareCard  .card-title.dirty {
	background-color: red;
}

.myStyle-squareCard  .card-content {
	margin: 5% 5%;
}

.myStyle-squareCard  .card-action {
	float: left;
    background-color: red;
    color: black;
    border-radius: 15px;
    margin: 3%;
	padding: 3%;
}

.myStyle-squareCard  .card-count {
	float: right;
	font-size: large;
	padding: 6%;
	font-style: underline;
}

.alert-card {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration:0.7s;
}

@-webkit-keyframes blinker {
    0% { background-color: yellow; }
    50% { background-color: transparent; }
    100% { background-color: yellow; }
}