<div ng-repeat="(floorName, floorValue) in data | orderBy: '-floorValue[0].floor'" class="floor-div">
	<div>
		<div class="myStyle-squareCard title">
			<b>Floor {{ floorName }}</b>
		</div>
		<div ng-repeat="row in floorValue | orderBy: '-count'" class="myStyle-smallCard myStyle-squareCard mdl-shadow--2dp ng-scope" ng-click="onToiletCleanAction(row.device_id, row.count)">
			<div class="card-title" ng-class="row.status">
			</div>
			<span class="mdl-badge card-count-balloon" data-badge="{{ row.count }}">
			</span>
			<div id="dashboard-square-card-view" class="dashboard-ng-view-container" ng-class="{'alert-cardxxxxxxxx': row.status == 'dirty'}">
				<div class="card-content">
					<div class="card-floor">
						Floor {{ row.floor }}
					</div>
					<div class="card-name">
						Unit {{ row.name }}
					</div>
					<div class="card-gender">
						<img class="card-gender-img" ng-if="row.gender == 'male'" src="../images/male.png" alt="Male Toilet" \>
						<img class="card-gender-img" ng-if="row.gender == 'female'" src="../images/female.png" alt="Female Toilet" \>
					</div>
					<div class="card-alertTimeLabel">
						Last updated:
					</div>
					<div class="card-alertTime">
						{{ row.alertTime }}
					</div>
					<div ng-show="false" class="card-count" ng-class="row.status">
						{{ row.count }}
					</div>
				</div>
				<div class="card-action" ng-show="row.status=='dirty'" ng-click="onToiletCleanAction(row)">Clean</div>
			</div>
		</div>
	</div>
</div>