<div ng-repeat="row in data" class="myStyle-smallCard myStyle-squareCard mdl-shadow--2dp ng-scope">
	<div id="dashboard-square-card-view" class="dashboard-ng-view-container" ng-class="{'alert-card': row.status == 'dirty'}">
		<div class="card-title" ng-class="row.status">
			{{ row.name }}
		</div>
		<div class="card-content">
			<div ng-if="row.status == 'clean'">
				<img src="http://cdn.flaticon.com/svg/67/67287.svg" alt="Dirty Toilet Bowl" height="100" width="100">
			</div>
			<div ng-if="row.status == 'dirty'">
				<img src="http://cdn.flaticon.com/svg/67/67287.svg" alt="Dirty Toilet Bowl" height="100" width="100">
			</div>  
		</div>
		<a ng-show="row.status=='dirty'"><div class="card-action" ng-click="onToiletCleanAction()">Clean</div></a>
		<div class="card-count">
			{{ row.count }}
		</div>
	</div>
</div>