<div ng-repeat="row in data" class="myStyle-smallCard mdl-shadow--2dp ng-scope">
	<div id="dashboard-showSearch-view" class="dashboard-ng-view-container">
		<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
			<tbody>
				<tr>
					<td class="ng-binding">{{ row.count }}</td>
					<td class="ng-binding">{{ row.device_id }}</</td>
					<td class="mdl-data-table__cell--non-numeric ng-binding">{{ row.name }}</</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>