<div class="mdl-card mdl-shadow--2dp dashboard-card ng-scope">
	<div id="dashboard-showSearch-view" class="dashboard-ng-view-container">
		<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
			<thead>
				<tr class="ng-scope">
					<th class="ng-binding">Record ID</td>
					<th class="ng-binding">Date</</td>
					<th class="mdl-data-table__cell--non-numeric ng-binding">Teacher Name</</td>
					<th class="mdl-data-table__cell--non-numeric ng-binding">xxxx</</td>
					<th class="ng-binding">xxx</</td>
					<th class="mdl-data-table__cell--non-numeric ng-binding">xxx</</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in data" class="ng-scope">
					<td class="ng-binding">{{ row.recordID }}</td>
					<td class="ng-binding">{{ row.date }}</</td>
					<td class="mdl-data-table__cell--non-numeric ng-binding">{{ row.teacherName }}</</td>
					<td class="mdl-data-table__cell--non-numeric ng-binding">{{ row.meritTitle }}</</td>
					<td class="ng-binding">{{ row.meritValue }}</</td>
					<td class="mdl-data-table__cell--non-numeric ng-binding">{{ row.comment }}</</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>